
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
    max-width: 1200px;
}

h1 {
    background-color: darkblue;
    color: #fff;
    padding: 20px;
}

.wf1 fieldset {
    margin: 32px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;
    
}

.wf1 p {
    
    padding-top: 1rem;
    max-width: 400px;
    font-weight: bolder;
}

.wf1 label {
    display: block;
    color: black;
    font-size: .9rem;
}

.wf1 input[type="text"],
.wf1 input[type="date"],
.wf1 select,
.wf1 textarea
{
    background-color: #eee;
    border: 1px solid #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;

}

.wf1 input[type="radio"],
.wf1 input[type="checkbox"]
{
    margin-right: 6px;
}

.wf1 input[type="submit"] {
    
    background-color: blue;
    color: #fff;
    border-radius: 6px;
    padding: .75rem;
    width: 100%;
    max-width: 400px;
    font-weight: bolder;
    font-size: larger;
}

.wf1 input:required {
    border-bottom: solid 8px red;
}

.wf1 input:required:valid {
    border-bottom: solid 8px green;
}

label {
    padding-top: 1rem;
}

span {
    color: #fff;
    
}

footer {
    padding-left: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: darkblue;
    color: #fff;
    text-align: center;   
    
}