
@media screen and (min-width: 500px) {
    #menu {
        display: none;
    }

    nav {
        background-color: black;
    }

    ul {
        padding: 0;
        margin: 0;
    }

    .navigation {
        display: flex;
        justify-content: center;
    }

    .navigation li {
        display: block;
        flex: 80%;
    }

    .navigation a {
        display: block;
    }
    
    header {
        display: grid;
        grid-template-columns: 1fr;
    }

    main {
        width: 1200px;
        margin: 0 auto;
        max-width: 1200px;
    }
    img {
        width: 400px;
        height: auto;
        border: 2px solid black;
        padding: 0;


    } 

    .grid {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 30px;
    }

    figure {
        margin: 0;
    }

    figcaption {
        padding: 10px;
        padding-bottom: 40px;
        text-align: center;
        font-style: italic;

    }

    .img-home img {
        width: 100%;
    }

    p {
        padding-top: 0px;
        margin-top: 0px;
        line-height: 1.5;
        text-align: justify;
        
        
    }

    h2 {
        margin-bottom: 10px;
        padding-bottom: 0px;
    }

    #subtitles {
        background-color: #ADD8E6;
        color: #00008B;
        padding: 10px;
        text-align: center;
        margin-bottom: 10px;
        padding-bottom: 0px;
    }

    h3 {
        background-color: #ADD8E6;
        color: #00008B;
        padding: 10px;
        text-align: center;
        margin-bottom: 10px;
        padding-bottom: 0px;

    }

    footer {
        text-align: center;
    }

    footer p {
        margin-bottom: 0px;
        line-height: 1;
    }

    footer a {
        color: #fff;
    }


}
