
body {
    padding: 5%;
}

table {
    width: 400px;
    border: 1px solid #ccc;
    border-collapse: collapse;

}

caption {
    caption-side: bottom;
    font-size: smaller;
    padding: 0.2rem;
}

th,
td {
    padding: 8px 16px;
    border: 1px solid black;
    white-space: pre;
}

thead th,
tbody td {
    text-align: center;
}

thead {
    color: #fff;
    background-color: #000;

    th {
    padding: 16px;
    font-size: larger;
}

    tr:nth-last-child(1) {
        background-color: darkslategrey;
}


}

tbody tr:nth-child(even) {
    background-color: #eee;
}


.blank {
    background-color: black;
}
