
:root {
    --main-color: darkred;
    --second-color: white;
}

header, body, footer {
    max-width: 500px;
    font-family: Arial, sans-serif;
}

header {
    background-color: var(--main-color);
    color: var(--second-color);
    text-align: center;
    border-bottom: 5px solid grey;
    padding: 10px;
}

picture img {
    width: 500px;
    height: auto;
    border-bottom: 5px solid var(--main-color);
}

article {
    
    background-color: var(--second-color);
    margin: 0 auto;
    text-align: center;
    
    
}

.info {
    border-bottom: 2px solid grey;
}

article span {
    font-weight: bold;
}

h2 {
    padding: 15px;
}

footer {
    background-color: var(--main-color);
    color: var(--second-color);
    padding: 20px;
    display: block;
    text-align: center;
}

#clouds {
    display: none;
}

#windChill {
    font-weight: normal;
}

